/* BLOG CARDS */
.blog_preview {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
        text-transform: uppercase;
        font-size: 5em;
        margin: 0;
    }

    p {
        font-size: 1.75em;

        a {
          color: $dark-blue;
        }

        .view-article {
          color: $light-blue;

          &:hover {
            color: $red;
          }
        }
    }
}

/* 3 column  blog cards */
.blog-card-wrapper,
.blog-index-wrapper {
    display: grid;
    flex: 1;
    grid-gap: em(20px);
    padding: em(50px) 0 em(50px) 0;
}

@include breakpoint (portrait) {

    .blog-card-wrapper,
    .blog-index-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .blog-card-wrapper {
        max-width: 750px;
    }

    .blog-index-wrapper {
        max-width: 1100px;
    }
}

/* note the .blog_card is postion: relative so the round button and read time can have an absolute placement; a parent/ child relationship */

.blog_card {
    background-color: $pale-grey-blue;
    position: relative;

    a {
        text-decoration: none;
    }

    h5 {
        text-transform: uppercase;
        font-size: 1.25em;
        margin-bottom: 0;
        color: $main-blue;
    }

    h4 {
        font-size: 2em;
        margin-top: 0;
        padding: 0 em(5px) 2em em(5px);
    }

    img {
        width: 100%;
        height: auto;
    }
}

.blog_card_details {

    h4 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    p {
        font-size: 1.25em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 5em;
        text-align: left;
    }
}


/* READ TIME on blog cards */
.readtime {

    position: absolute;
    bottom: 0;
    left: 0;

    p {
        text-transform: lowercase;
        font-size: 1em;
        text-align: left;
        padding-left: 2em;
    }
}
