/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center center;
        font-family: $roboto;
        @include no-bullets;
        padding-top:6em;
        padding-bottom: 1em;
        color: $main-blue;

        li {
            padding-left: 1em;
            padding-bottom: 2em;
        }
    }

	.terms {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: $grey-blue;
        }
	}
}

.copyright {
  p {
    text-align: center;
    color: $dark-blue;
      a {
        color: $main-blue;
        &:hover {
          background: $yellow;
        }
      }
  }

}

.footer_para {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ya_disclaimer {
    font-size: em(9px);
    padding-left: em(20px);
    padding-right: em(20px);
    padding-bottom: em(100px);
    color: $main-blue;
    max-width: 500px;
    justify-content: center;

}

.newsletter_signup {
    background-color: $grey-blue;
}

.newsletter_video {
    display: grid;
    justify-content: center;
    align-items: center;

    h3 {
        color: $white;
        font-size: 2em;
        padding-left: em(10px);
        padding-right: em(10px);
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.newsletter_video_box {
    margin: 0 3em 0 3em;
}

.fade {
    opacity: 0.75;
}

.fade:hover {
    opacity: 1;
}

.ctct-inline-form {
    margin: 2em;
    padding-bottom: 2em;
}

//styles for Terms/Conditions, Privacy Policy, Disclaimers pages
.page-template-default {
  section {
    padding: 5em em(20px) 5em em(20px);
  }
}

//BREAKPOINTS

@include breakpoint(large-mobile) {
    .footer {
        ul {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    .credentials_box_width {
        max-width: 500px;
        display: block;
        margin:auto;
    }
}

@include breakpoint(landscape) {
    .newsletter_signup {
        background-color: $grey-blue;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .newsletter_video_box {
        margin: 0;
    }
}
