/* FOUR SQUARE GRID LAYOUT */
.four_square_wrapper {
    display: grid;

    img {
        width: auto;
        height: 100%;
    }
}

.square {
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
}

.square_details {
    padding: 2em em(5px) 2em em(5px);

    h6 {
        color: $white;
        font-size: 3em;
        text-align: center;
        margin: 0;
    }
}

.square_one {
    background: $grey-blue;
    margin: 0;
    padding: 0;
}

.square_one_content {
    padding-top: 3em;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.square_two {
    background-color: $yellow;

    img {
        object-fit: cover;
    }
}

.square_three {
    background: $background-blue;
    position: relative;

    p {
        color: $background-blue;
    }

    img {
        position: absolute;
        width: em(40px);
        margin-left: 2em;
        margin-top: -8em;
    }

}

.square_testimonial_wrapper {
    background-color: $white;
    margin: 4em 1em 5em 5em;
    position: relative;
}

.square_testimonial_button_align {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
    }
}

.square_testimonial {
    padding: 2em 2em 1.25em 2em;
    font-size: 1.25em;
}

.square_testimonial_name {
    padding: 0 0 2em 2em;
}

.square_four {
    background: $bright-blue;
}

.square_four_details {
    h6:first-of-type {
        padding-top: 0.5em;
    }
}

@include breakpoint(large-mobile) {
    .square_testimonial_wrapper {
        margin: 4em 3em 5em 10em;
    }


    .square_three {
        img {
            width: em(100px);
            margin-left: 2em;
            margin-top: -5em;
        }
    }

    .square_testimonial_wrapper {
        margin: 4em 3em 5em 10em;
    }
}

/*
@include breakpoint(small) {

    .square_three {
        img {

        }
    }
}
*/

@include breakpoint(portrait-large) {
    .four_square_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 400px 400px;
        grid-gap: em(16px) em(16px);
        justify-content: stretch;
        align-content: start;
    }

/* add this class when only using 2 squares in a layout  -- like testimonials + a pix */
    .two_square_wrapper {
        grid-template-rows: 400px;
    }

    .grid_square_one {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 1;
        justify-self: stretch;
    }

    .grid_square_two {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row: 1;
        justify-self: stretch;
    }

    .grid_square_three {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 2;
        justify-self: stretch;
    }

    .grid_square_four {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row: 2;
        justify-self: stretch;
    }




    .square_three {
        img {
            width: em(75px);
            margin-top: -8em;
        }
    }

    .square_details {

        h6 {
            font-size: 3em;
        }
    }

    .square_testimonial_wrapper {
        margin: 4em 3em 5em 8em;
    }
}
