/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {
    background-color: $opacity-background-blue;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: map-get($zindex, header);



    h2 {
        color: $white;
        font-weight: 100;
        font-size: em(14px);
    }
}

.logo_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        padding-left: em(10px);
        padding-right: em(10px);
        padding-top: em(10px);
        padding-bottom: em(0px);
    }
}

/* responsive nav toggle */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* code for hamburger lines */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/*------------------------------------*\
    #NAV
\*------------------------------------*/

/* for responsive nav, plan to use https://codepen.io/kevinpowell/pen/jxppmr  with his video tutorial at https://www.youtube.com/watch?v=8QKOaTYvYUA */

.nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: $opacity-background-blue;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

	ul {
        @include no-bullets;

    // style for highlight current page nav item
        .highlight a {
            color: $yellow;
        }

        li {
            margin-bottom: 1em;;
            margin-left: 1em;

            a {
                font-family: $roboto;
                color: $white;
                font-size: 1.5em;
                text-transform: lowercase;
                text-decoration: none;
                opacity: 0;
                transition: opacity 150ms ease-in-out;

            &:hover {
                    color: $yellow;
                }
            }
        }
    }
}

// styles the nav for mobile
// when the nav checkbox is checked
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

// BREAKPOINTS

@include breakpoint (smaller-screen){
  .nav-toggle-label {
    display: none;
  }

  .nav-toggle {
      display: block;
  }

  // overrides mobile navigation
  .nav-toggle ~ nav.nav {
    transform: scale(1,1);
  }

  // overrides mobile navigation
  .nav-toggle ~ nav.nav ul li a {
    opacity: 1;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

    h2 {
        padding-bottom: 1em;
        padding-top: 1em;
    }
  }

  .logo_name {
      display: flex;
      flex-direction: row;

      img {
          padding-bottom: em(10px);
      }
  }

  .logo {
    grid-column: 2 / 3;
  }

.nav ul li {
    margin-bottom: 0;
}

.nav {
    background: none;
}

nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -2.5em;
    background: none;
  }

nav ul {
    display: flex;
  }

nav ul li {
    margin-left: 3em;
    margin-bottom: 0;
  }

nav a {
    opacity: 1;
    position: relative;
  }

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: $yellow;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

nav a:hover::before {
    transform: scale(1,1);
  }
}
