/* STYLES FOR WORDPRESS CONTENT EDITOR 2019 VERSION */
/* grid for the wp content editor */


.first_para {
  border-left: em(3px) solid $yellow;
  font-weight: bold;
  font-size: 1.75em;
  margin-left: em(20px);
  padding-left: 1em;
  padding-right: em(20px);
}

.content_highlight {
  background: $yellow;
}

.content_editor {
  h3 {
    margin: 0;
    font-size: 3em;
    color: $main-blue;
    padding-left: em(10px);
    padding-right: em(10px);
  }

  p {
    color: $dark-blue;


    a {
      color: $main-blue;
      &:hover {
        background: $yellow;
      }
    }
  }

  h2,
  p {
      padding-right: em(20px);
  }

  h2 {
      padding-top: 1em;
      color: $red;
      font-size: 2em;
      padding-left: em(20px);
  }

  p {
      color: $dark-blue;
      font-size: 1.5em;
      padding-left: em(20px);
  }

  .schema-faq-question,
  ol,
  ul {
    font-family: $roboto;
    color: $dark-blue;
    padding-left: em(15px);


    li {
      color: $dark-blue;
      font-size: 1.5em;
      margin-left: 3em;
    }
  }

  .schema-faq-question {
    font-size: 2em;
  }

  .schema-how-to {
    background: $pale-grey-blue;
  }

  .schema-how-to-total-time,
  .schema-how-to-description,
  .schema-how-to-steps {
    margin-left: 1em;
  }

  .schema-how-to-step-text {
    font-size: 1em;

    img {
      width: 100%;
      height: auto;
    }
  }

  .blocks-gallery-item {
    figure {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .wp-block-quote {
    p,
    cite {
      color: $grey-blue;
      font-family: $roboto;
    }

    p {
      font-size: 2em;
      margin-bottom: 0;
    }

    cite {
      margin-left: 1em;
    }
  }

} /*this closes the .content_editor styles */



.content_grid {

  figure {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr em(100px);
    margin: 0;
    grid-column-start: 1;
    grid-column-end: -1;

    img {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row: 1;
      height: auto;
      width: 100%;
    }

    figcaption {
        font-family: $roboto;
    }
  }
}


/* GRID BREAKPOINTS */

@include breakpoint (landscape) {

  .content_grid {

    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    grid-column-gap: em(32px);

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    .schema-how-to,
    .schema-faq {
        grid-column-start: 5;
        grid-column-end: span 6;
        padding-left: 0;
    }

    li {
      margin-left: 2em;
    }

    figure {

        figcaption {
            grid-column-start: 5;
            grid-column-end: span 6;
        }
    }

  }

  .wp-block-quote {
    grid-column-start: 2;
    grid-column-end: span 10;
  }

} /* closes landscape breakpoint */
