/* STYLES FOR WORDPRESS CONTENT EDITOR 2019 VERSION */
/* grid for the wp content editor */

.content_editor {
  h3 {
    margin: 0;
    font-size: 3em;
    color: $main-blue;
    padding-left: em(10px);
    padding-right: em(10px);
  }

  p {
    color: $dark-blue;


    a {
      color: $main-blue;
      &:hover {
        background: $yellow;
      }
    }
  }

  h2,
  p {
      padding-right: em(20px);
  }

  h2 {
      padding-top: 1em;
      color: $red;
      font-size: 2em;
      padding-left: 1em;
      margin-bottom: 0em;
  }

  p {
      color: $dark-blue;
      font-size: 1.5em;
      padding-left: em(20px);
  }

  ol,
  ul {
    font-family: $roboto;
    color: $dark-blue;
    padding-left: em(15px);


    li {
      color: $dark-blue;
      font-size: 1.5em;
      margin-left: 3em;
      line-height: 1.5;
      padding-bottom: 1em;

      a {
        color: $main-blue;

        &:hover {
          background: $yellow;
        }
      }
    }
  }

  aside {

      a {
        color: $red;
        text-decoration: underline;

        &:hover {
          background: $yellow;
        }
      }
    }

  .first_para {
    border-left: em(3px) solid $yellow;
    font-weight: bold;
    font-size: 2em;
    margin-left: 20px;
    padding-left: 1em;
    padding-right: em(20px);
    max-width: 750px;
  }

  .schema-faq-section {
    margin-left: 2em;
  }

  .schema-faq-question {
    font-family: $roboto;
    color: $red;
    font-size: 1.5em;
  }

  .schema-how-to {
    background: $pale-grey-blue;
  }

  .schema-how-to-total-time,
  .schema-how-to-description,
  .schema-how-to-steps {
    margin-left: 1em;
  }

  .schema-how-to-step-text {
    font-size: 1em;

    img {
      width: 100%;
      height: auto;
    }
  }

  .blocks-gallery-item {
    figure {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .wp-block-quote {
    p,
    cite {
      color: $grey-blue;
      font-family: $roboto;
    }

    p {
      font-size: 2em;
      margin-bottom: 0;
    }

    cite {
      padding-left: 3em;
    }
  }

  aside {
      margin-left: 2em;
      margin-right: 1em;

      p {
          border-left: em(3px) solid $light-blue;
          color: $main-blue;
          font-size: 1.5em;
          padding-left: 0.5em;
          margin: 0;
      }
  }

  .wp-block-media-text__content {

    p {
      color: $grey-blue;
      padding: 0;
    }
  }

  .wp-block-button {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .wp-block-button__link {
    font-family: $roboto;
  }

} /*this closes the .content_editor styles */

.content_grid {

} /*close all .content_grid styles */

//this style is to make an image full width of the screen -- it is not working, yet; as of 2/23/19;
//styles still show .content_grid in dev tools on live version
//i took these styles from .content_grid
//the plan is to add this class to an .wp-block-image that i want to go full screen
// i would  use the advanced setting to add the class
.full_width {
  figure {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr em(100px);
    margin: 0;
    grid-column-start: 1;
    grid-column-end: -1;

    img {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row: 1;
      height: auto;
      width: 100%;
    }

    figcaption {
        font-family: $roboto;
        grid-column-start: 2;
        grid-column-end: 12;
        text-align: center;
    }
  }
} // closes .full_width

.wp-block-media-text {
  display: block;
  background: $pale-grey-blue;
}

//styles for an embeded youtube video
.wp-block-embed__wrapper {
  grid-column-start: 2;
  grid-column-end: 11;
}

//styles for sassy social share plugin
.heateor_sss_sharing_container {
  padding-bottom: 5em;
}

.heateor_sss_sharing_title {
  font-family: $roboto;
  text-align: center;
  color: $main-blue;
}

// style for wp-table
.wp-block-table {
  padding-left: em(20px);
  padding-top: em(20px);
  font-family: $roboto;
  font-size: 1.5em;
  color: $main-blue;
  margin: auto;

  tr {
    &:first-child td {
      color: $red;
      padding-bottom: 0;
    }
  }

  td {
  padding-right: em(20px);
  padding-bottom: em(20px);

  }
}

/* GRID BREAKPOINTS */
@include breakpoint (small) {

      .wp-block-media-text {
        display: grid;
      }

} /* close breakpoint small */

@include breakpoint (landscape) {
  .content_grid {
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    grid-column-gap: em(32px);

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    .schema-how-to,
    .schema-faq,
    .wp-block-embed__wrapper,
    .wp-block-button,
    .wp-block-table,
    .wp-block-image {
        grid-column-start: 5;
        grid-column-end: span 6;
    }

    .wp-block-table {
      padding-left: 0;
    }

/* sassy social media sharing styles */
  .heateor_sss_sharing_container {
    grid-column-start: 7;
    grid-column-end: span 3;
  }

  .heateor_sss_sharing_title {
    text-align: left;
    padding-left: 2em;
  }

    li {
      margin-left: 2em;
    }

    figure {

        figcaption {
            grid-column-start: 5;
            grid-column-end: span 6;
        }
    }

    aside {
        margin-left: 0;
        margin-top: 0;
        grid-column-start: 2;
        grid-column-end: 4;
      }

      .wp-block-media-text {
        grid-column-start: 5;
        grid-column-end: span 6;
      }

  } /* close .content_grid landscape breakpoint */

//Styles to have the wp-block-editor quote display full max-width
  .wp-block-quote {
    grid-column-start: 2;
    grid-column-end: span 10;
  }


  .first_para {
    border-left: em(3px) solid $red;
  }

} /* closes landscape breakpoint */
