.home_page_header {
    background: $main-blue;

    h1 {
        color: $white;
        margin: 0 1em 0 1em;
        padding-bottom: 0;
        font-size: 1.75em;
    }
}

.home_title {
    display: flex;
    justify-content: center;
    align-items: center;

  h1 {
    margin-bottom: em(20px);
  }
}

.home_title_para {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  p {
    color: $white;
    max-width: 800px;
    padding: 0 em(20px) 2em em(20px);
  }
}

.offering_page_header {

    h1 {
        color: $dark-blue;
        margin: 0 1em 0 1em;
        padding-bottom: 2em;
    }
}

.blog_preview_space {
    margin-top: 5em;
}

@include breakpoint (portrait-large) {

    .home_page_header,
    .home_title {

      h1 {
        font-size: 3em;
      }
    }
}
