/* OFFERINGS PAGE STYLES */

// sub NAV just for the offering page
.nav_offering {
  margin-top: em(110px);

  ul {
    display: grid;
    grid-gap: em(5px);
    padding-left: 0;
    text-decoration: none;

      a {
        text-decoration: none;

        li {
          list-style: none;
          font-family: $roboto;
          font-size: em(20px);
          text-align: center;
          border-bottom: em(3px) solid $grey-blue;
          color: $grey-blue;
          padding-top: em(10px);
          padding-bottom: em(10px);

        &:hover {
          background: $grey-blue;
          color: $white;

        }
      }
    }
  }
}

//styles for billboard at top of page
.offering_wrapper {
    background-color: $white;

    h2,
    p {
        color: $dark-blue;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.offering_page_billboard {

}

.offering_billboard {
    margin-top: 5em;
    margin-bottom: 2em;
}

.offering_title_big {
    font-size: 4em;
    text-transform: lowercase;
}

.offering_title_small {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 0.40em;
}

.offering_category_wrapper {
    background: $main-blue;
    margin-bottom: 0;
}

// styles for offerings grid
.offering_tile_wrapper {

    h3 {
        margin: 0;
        padding-top: 1em;
    }
}

.offering_tile_wrapper {
    display: grid;
    grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px;
}

.offering_tile_title {
    text-transform:uppercase;
    font-size: 3em;
    padding-left: em(10px);
    color: $white;
}

.offering_para {
    color: $white;
    font-size: 1.4em;
    padding-left: em(24px);
    padding-right: em(10px);
}

.offering_tile_one {
    background: $dark-blue;
}

.offering_tile_two {
    background: $grey-blue;
}

.offering_tile_three {
    background: $yellow;

    img {
        height: 100%;
        width: auto;
    }
}

.offering_tile_four {
    background: $main-blue;
}

.offering_tile_five {
    background: $bright-blue;
}

.offering_tile_six {
    background: $yellow;

    img {
        width: auto;
        height: 100%;
    }
}

.offering_tile_seven {
    background: $grey-blue;
}

.offering_tile_eight {
    background: $main-blue;
}

/* BLOG CATEGORY ICON CARDS FOR BLOG INSPIRATION */
/* THESE RELY ON STYLES FROM 3 CLASS CARDS AND ICON CARDS */

.blog_category_title {
    text-transform: uppercase;
}

/* responsive styles */
@include breakpoint(portrait-large) {

    .offering_title_big {
        font-size: 10em;
    }

    .offering_title_small {
        font-size: 4em;
    }

    .billboard_para {
        margin-top: 6em;

    }

    .offering_tile_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 364px 364px 364px 364px;
        grid-gap: 16px 16px;
        justify-content: stretch;
        align-content: start;
    }

    .offering_tile_title {
        padding-left: 1em;
    }

    .offering_para {
        color: $white;
        font-size: 1.5em;
        padding-left: 2em;
        padding-right: 1em;
        margin: 0;
    }

    .offering_tile_one {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 1;
        justify-self: stretch;
    }

    .offering_tile_two {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row: 1;
        justify-self: stretch;
    }

    .offering_tile_three {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 2;
        justify-self: stretch;
    }

    .offering_tile_four {
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row: 2;
        jusify-self: stretch;
    }

    .offering_tile_five {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 3;
        jusify-self: stretch;
    }

    .offering_tile_six {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row: 3;
        justify-self: stretch;
    }

    .offering_tile_seven {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 4;
        justify-self:stretch;
    }

    .offering_tile_eight {
        grid-column-start: 5;
        grid-column-end: 13;
        grid-row: 4;
        justify-self:stretch;
    }
}
