/*  TESTIMONIALS page */
.testimonial_cta {
    margin-bottom: 0;
}

.testimonial_link {
    a {
        text-decoration:none;
    }
}

.fitvids {
    position: relative;
    width: 100%;
}

.large_quote_margin {
    margin-bottom: 0;
}
