/* WooCommerce Styles */
.woocommerce-message {
  padding-top: 9em;
  background-color: $white;
  max-width: 400px;
}
.woocommerce .woocommerce-breadcrumb {
  margin: 7.5em 2em
}

.woocommerce {
  font-family: $roboto;

  a {
    color: $dark-blue;
  }
}

.woocommerce .woocommerce-breadcrumb {
  position: fixed;
  top: 0;
  z-index: map-get($zindex, subheader);
  padding-left: em(20px);
  padding-right: em(20px);
  background: $pale-grey-blue;

  a {
    color: $dark-blue;

    &:hover {
      background-color: $yellow;
    }
  }
}

.woocommerce-products-header {
  text-align: center;
  z-index: 0;
  display: block;

/* I am hiding the h1 for the shop by moving it off screen */
  h1 {
    color: $main-blue;
    margin-bottom: 0;
    position: absolute;
    top: -9999px !important;
    left: -9999px !important;
  }
}

.page-description {

  justify-content: center;
  align-items: center;

  h2 {
    color: $dark-blue;
    font-size: 2em;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding: 1em;
    background: $yellow;

  }
}

.woocommerce-result-count {
  padding-left: 2em;
}

.woocommerce-ordering {
  padding-right: 2em;
}

.woocommerce .products ul, .woocommerce ul.products {
  padding-left: 2em;
}


.product {
  margin-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
}


.tabs {
  padding-left: em(10px);
}

.comment-form-rating {
  padding-top: 2em;
}

.wc-tabs-wrapper {
  padding-left: em(20px);
  padding-right: em(20px);
  padding-bottom: em(100px);
  max-width: 750px;
  margin: auto;
}

.comment_container {
  padding-right: em(20px);

  img {
    border-radius: 50%;
  }
}


element.style {
}
.woocommerce div.product p.price,
.woocommerce div.product .stock {
  color: $dark-blue;
}


.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $red;
  color: $white;

}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{

  background-color: $yellow;
}

.single_add_to_cart_button {
  background: $red;
}

.akismet_comment_form_privacy_notice {

  a {
    color: $light-blue;
  }
}

.woocommerce-products-header {
  margin-top: 10em;
  position: relative;
  background: none;
}

.star-rating,
.stars a {
  color: $yellow;
}

#respond {

  input#submit.submit {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $yellow;
      color: $dark-blue;
    }
  }
}

.woocommerce span.onsale {
  background-color: $yellow;
  color: $dark-blue;
  text-transform: uppercase;
  margin-left: 1em;
}

.woocommerce ul.products li.product .price {
  color: $main-blue;
}

.woocommerce .widget_shopping_cart,
.sidebar-widget {
  max-width: 350px;
}

/* STYLES for using Woo Commmerce INSIDE a BLOG POST placing products on the BLOG page  */
/* STYLES for the product button add to cart link */
 .content-editor {
   .wp-block-button__link {
     a {
       color: $white;
     }
   }
 }
