/*------------------------------------*\
    #THEME
\*------------------------------------*/

// COLOR





// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6,
 {
    font-family: $roboto;
    color: $background-blue;
}

p {
    font-family: $roboto;
    color: $background-blue;
}

// SPACING, MARGINS, AND PADDING
