/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/* GLOBAL */
$baseurl 			: "/wp-content/themes/THEME-NAME";
$font-path          : "#{$baseurl}/assets/dist/fonts";


/* COLORS */
$dark-blue: #214a5b;
$background-blue: #113341;
$grey-blue: #6b91a1;
$light-grey-blue: #e1e9ec;
$pale-grey-blue: #edf1f3;
$light-blue: #92c5da;
$bright-blue: #50b1da;
$yellow: #dad445;
$red: #9b4856;
$white: #f8fcff;
$opacity-white: rgba(255, 255, 255, 0.85);
$opacity-background-blue: rgba(17, 51, 65, 0.90);
$main-blue: #34738e;

/* FONTS */
$roboto: "Roboto Condensed", sans-serif;
$cursive: "Grand Hotel", sans-serif;
