/*------------------------------------*\
    #ZINDEX

    Controls all vertical stacking in one place
    Reference: http://css-tricks.com/handling-z-index/


    Can now use elsewhere in code with:

    	.header {
			z-index: map-get($zindex, header);
		}
\*------------------------------------*/

$zindex: (
  header    : 9050,
  subheader : 9025,
  modal     : 9000,
  overlay   : 8000,
  dropdown  : 7000,
  footer    : 5000,
  background: 4000
);
